.image-container {
    display: inline-block;
    border: 2px dashed #ccc;
    padding: 5px;
    max-width: 100%;
    overflow: hidden;
}

.image {
    width: 100%;
    height: auto;
    display: block;
}

textarea {
    width: 100%;
    resize: none;
    overflow: hidden;
    min-height: 50px;
    padding: 8px;
    font-size: 16px;
    box-sizing: border-box;
}
/* 
#chatBox {
    height: 100%;
    max-height: 80vh;
    overflow-y: auto;
} */

#chatBox {
    overflow-y: hidden;
    min-height: 100px;
    height: auto;
    word-break: break-word;
    white-space: pre-wrap;
}