<!doctype html>
<html lang="en">

<head>
    <title>MSc_LV_10</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/app.css">
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@2.0.0"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>

<body>
    <div class="conatiner">
        <div class="row">
            <!-- header -->
            <div class="container text-center">
                <div class="form-group">
                    <h3 class="text-center">Brain Tumor Detection</h3>
                    <p class="text-center">This result not use for medical diagnostic purpose.</p>
                </div>
            </div>
            <!-- form part -->
            <div class="container">
                <div class="row">
                    <form class="form-inline">
                        <div class="form-group mb-2">
                            <div class="custom-file">
                                <input type="file" name="file" class="custom-file-input form-control"
                                    id="image-selector">
                                <label class="custom-file-label" for="customFile">Choose file</label>
                            </div>
                        </div>
                        &nbsp;
                        &nbsp;
                        <button type="button" id="predict-button" class="btn btn-outline-info mb-2">PREDICT</button>
                    </form>
                </div>
                <small id="image-selector" class="form-text text-muted">Image should be .png, .jpg
                    or
                    .jpeg file
                    format</small>
            </div>
            <div class="container">
                <div class="d-flex flex-row overflow-auto">
                    <img id="selected-image" width="50%" src="" height="50%" class="img-fluid" />
                    <img src="" width="" alt="" id="gradcam_img" class="img-fluid m-2">
                    <img src="" width="" alt="" id="lime_explanation" class="img-fluid m-2">
                    <img src="" width="" alt="" id="combined_gradcam_lime_exp" class="img-fluid m-2">
                    <img src="" width="" alt="" id="saliency_map" class="img-fluid m-2">
                </div>
            </div>
        </div>
        <!-- result image -->
        <div class="container" id="result_image_container">
            <!-- result showing part -->
            <h3 class="text-center font-weight-lighter alert alert-primary" role="alert">PREDICTION : <span id="result"
                    class="p font-italic">...</span>
                PROBABILITY : <span id="probability" class="p font-italic">...</span>
                </h2>
                <div class="row">
                    <div class="container">
                        <img src="" width="" alt="" id="result_image" class="round">
                    </div>
                </div>
        </div>
        <!-- changing parameter -->
        <div class="container">
            <div class="row" id="parameter_container">
                <div class="container">
                    <div class="form-group">
                        <label for="smooth_samples">Smooth Samples:</label>
                        <input type="number" id="smooth_samples" class="form-control" value="50">
                    </div>
                    <div class="form-group">
                        <label for="smooth_noise">Smooth Noise:</label>
                        <input type="number" id="smooth_noise" class="form-control" value="0.1">
                    </div>
                    <div class="form-group">
                        <label for="top_labels">Top Labels:</label>
                        <input type="number" id="top_labels" class="form-control" value="5">
                    </div>
                    <div class="form-group">
                        <label for="hide_color">Hide Color:</label>
                        <input type="number" id="hide_color" class="form-control" value="0">
                    </div>
                    <div class="form-group">
                        <label for="num_samples">Number of Samples:</label>
                        <input type="number" id="num_samples" class="form-control" value="1000">
                    </div>
                    <div class="form-group">
                        <label for="num_features">Number of Features:</label>
                        <input type="number" id="num_features" class="form-control" value="5">
                    </div>
                    <div class="form-group">
                        <label for="min_weight">Min of Weight:</label>
                        <input type="number" id="min_weight" class="form-control" value="0.0">
                    </div>
                    <button id="update-button" class="btn btn-outline-info" disabled>UPDATE</button>
                </div>
            </div>
        </div>
        <!-- image visualization -->
        <div class="container">
            <div class="row" id="visualization_container">
                <div class="container">
                    <div class="d-flex flex-row overflow-auto">
                        <img src="" width="" alt="" id="gradcam_img" class="img-fluid m-2">
                        <img src="" width="" alt="" id="lime_explanation" class="img-fluid m-2">
                        <img src="" width="" alt="" id="combined_gradcam_lime_exp" class="img-fluid m-2">
                        <img src="" width="" alt="" id="saliency_map" class="img-fluid m-2">
                    </div>
                </div>
            </div>
        </div>
        <!-- code availability  -->
        <div class="container">
            <p class="text-center">
                | <a href="https://www.kaggle.com/code/lalithk90/covid-19-identification-with-chest-x-ray">Kaggle</a>
                |
                &nbsp;
                | <a href="https://github.com/LalithK90/Covid-19-Identification-with-Chest-X-Ray">Github -
                    Model
                    Creation Code </a>
                |
                &nbsp;
                | <a href="https://github.com/LalithK90/Covid-19-Identification-with-Chest-X-Ray-Web-app">Github
                    -
                    Web App Source Code</a>
                |
            </p>
        </div>
        <!-- caution section  -->
        <div class="container-fluid bg-danger ">
            <p class="text-center text-white">This is not for medical diagnostic.
            </p>
        </div>
    </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="../static/js/app.js"></script>
</body>



</html>